<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/img/maze.png">
		<script>
		MathJax = {
			tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']],
			displayMath: [['$$', '$$'], ['\\[', '\\]']]
			}
		};
		</script>
	</head>
		<body>
			<div class="container">
				<div class="blurb">
					<h1 class="site-title">John Sebastian</h1>
					<p>PhD Student | Physics | DTU</p>
				</div>
			</div>
			<div class="container">
				{{ content }}
				<br>
				<br>
				<!-- <p><a class="footer" href="https://github.com/john-mech-sebastian/john-mech-sebastian.github.io" target="_blank">last updated: Feb 2026</a></p> -->
				<br>
			</div>
		</body>
	</html>
