<!doctype html>
<html>
   <head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="google-site-verification" content="RIvn8sP16jiMLaGGnF1h_B-bjoIBx6Go_YZU3GL_3-I"/>
    </head>
		<body>
			<div class="container">
        			<div class="blurb">
            				<h1>Anastasia Lyulina</h1>
    				</div>
    			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">about</a></li>
		        	<li><a href="/research">research</a></li>
	        		<li><a href="/publications">publications</a></li>
	        		<li><a href="https://github.com/alyulina/alyulina.github.io/cv.pdf" target="_blank">cv</a></li>
              <li><a href="mailto:alyulina@stanford.edu" target="_blank">email</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
		</body>
	</html>
