<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/img/bacteria.ico">
		<meta name="google-site-verification" content="RIvn8sP16jiMLaGGnF1h_B-bjoIBx6Go_YZU3GL_3-I"/>
	</head>
		<body>
			<div class="container">
				<div class="blurb">
					<h1>Anastasia Lyulina</h1>
				</div>
			</div>
			<div class="container">
				{{ content }}
				<br>
				<br>
				<p><a class="footer" href="https://github.com/alyulina/alyulina.github.io" target="_blank">last updated: April 2023</a></p>
				<br>
			</div>
		</body>
	</html>
